---
import { ClientRouter } from "astro:transitions";
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Social from "@components/Social.astro";
import Base from "@layouts/Base.astro";

export async function getStaticPaths() {
    const posts = await getCollection("projects");

    return posts.map((post) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const contentHTML = post.rendered?.html || ""; 
---

<Base title="Projects">
    <Header title="Projects" />
    <section>
        <ClientRouter />
        <aside>
            <article>
                <a href="/en/Projects">⬅ Volver atrás</a>
                <h2>
                    {post.data.title}<span>{post.data.tags}</span>
                </h2>

                <div set:html={contentHTML}></div> 
            </article>

            <article>
                <a href={post.data.link}>
                    <img alt={post.data.title} src={post.data.image} />
                </a>
            </article>
        </aside>
    </section>
</Base>
<Footer>
    <Social />
</Footer>


<style>
    section {
        display: flex;
        justify-content: space-evenly;
        margin: 0 calc(100% - 88%);
        background-color: rgb(30, 27, 31, 0.8);
        border-radius: 0 0 0.8rem 0.8rem;
        color: rgb(178, 179, 180);
        height: 64vh;
        flex-direction: column;
        padding: 0 2rem;
        box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.1);
    }
    aside {
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    h2 {
        font-size: 3rem;
    }
    span {
        display: inline-block;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
    article {
        font-size: 2rem;
        padding: 0 1rem;
    }
    img {
        width: 33rem;
        border-radius: 2rem;
    }
    a {
        color: #dad7d7;
        text-decoration: none;
        font-size: 1.2rem;
    }

    a:hover {
        transition: 0.5s;
        color: brown;
    }
</style>
