---
interface Props {
	title: string;
	body: string;
	tags: string;
	slug: string;
}

const { tags, title, body, slug } = Astro.props;
---

<li>
	<a href={`/es/projects/${slug}`}>
		<h2 transition:name={title}>
			{title}
			<span>&rarr;</span>
		</h2>
		<span>{tags}</span>
		<p>
			{body}
		</p>
	</a>
</li>

<style>
	li {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: rgba(30, 27, 31, 0.8);
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 50%;
		transition: background-position 2s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	li > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	li:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	li:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
