---
import { languageList } from "@i18n/ui";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import BurgerMenu from "@components/BurgerMenu.astro";

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<section>
    <aside>
        <a href={`/${lang}/`} target="_blank" rel="noopener noreferrer">
            <span class=""> Carlos Gonzalez 🚀</span>
        </a>
    </aside>
    <aside>
        <ul class="nav-options">
            <a href={`/${lang}/`}>{translation("header.about")}</a>
            <a href={`/${lang}/Projects`}>{translation("header.projects")}</a>
            <a id="scrollContanct">{translation("header.contact")}</a>
        </ul>
        <BurgerMenu />
    </aside>
    <aside>
        {
            Object.entries(languageList).map(([key, value]) => (
                <a href={`/${key}`} key={key}>
                    {value}
                </a>
            ))
        }
    </aside>
</section>
<script>
    //Despues que el evento astro:after-swap (cuando cargue la pagina) se ejecuta el evento click
    document.addEventListener("astro:after-swap", () => {
        document
            .querySelector("#scrollContanct")
            ?.addEventListener("click", () => {
                document
                    .querySelector("footer")
                    ?.scrollIntoView({ behavior: "smooth" });
            });
    });
</script>
<style>
    section {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        justify-content: space-around;
        padding: 1.5rem;
        position: fixed;
        z-index: 1;
        width: 100%;
        color: #dad7d7;
        background: linear-gradient(
            rgba(30, 51, 29, 66%),
            rgba(20, 112, 13, 33%)
        );
    }
    section:hover {
        transition-duration: 1s;
        background-color: rgb(1, 58, 8);
    }
    aside {
        display: flex;
        align-items: center;
    }
    img {
        width: 3rem;
        border-radius: 50%;
    }
    a {
        padding: 0 2rem;
        color: #dad7d7;
        text-decoration: none;
    }

    a:hover {
        transition: 0.5s;
        color: brown;
    }

    button {
        padding: 0 2rem;
        color: #dad7d7;
        text-decoration: none;
    }
    button:hover {
        transition: 0.5s;
        color: brown;
    }
    @media (width < 820px) {
        section {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        ul {
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
        }
        aside:nth-child(1) {
            order: 1;
            display: flex;
            align-items: center;
        }
        aside:nth-child(3){
            display: flex;
            gap: 1rem;
        }
    }
</style>
